/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Playfair+Display:400,700&display=swap');

/* moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

html {
  --pink: #f195b2;
  --pinkdark: #d57594;
  --aqua: #3e606b;
  --grey: #a0a0a0;
  --darkgrey: #797979;
  --light: #e5e5e5;
}

/* základní styly */
body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.hidden {
  display: none;
}

.button {
  border-radius: 4px;
  padding: 8px 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600px;
  background-color: var(--grey);
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 4px rgba(241, 149, 178, 0.3);
}

.button--primary {
  background-color: var(--pink);
  color: #fff;
}

.button--order {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--aqua);
  color: #fff;
  padding: 20px 30px;
  z-index: 888;
}

.logo {
  margin: 0;
  font-size: 24px;
  line-height: 1;
}


.products {
  margin: 94px 320px 30px 30px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}


.products__category {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  margin: 48px 0 16px 0;
}

.products__category:first-of-type {
  margin-top: 0;
}

.products__category::before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 50%;
  width: 12px;
  height: 1px;
  background-color: var(--grey);
}

.product {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid rgba(62, 96, 107, 0.2);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(241, 149, 178, 0.3);
  transition: all 0.2s;
}

.product__image {
  flex: 0 0 auto;
  overflow: hidden;
}

.product__image img {
  display: block;
  width: 100%;
  transition: transform 0.2s;
}

.product:hover .product__image img {
  transform: scale(1.2);
}

.product__body {
  padding: 12px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__content {
  flex: 1;
}

.product__name {
  margin: 0 0 12px 0;
  font-size: 18px;
  line-height: 1;
  color: var(--aqua);
}

.product__desc {
  margin: 12px 0;
  font-size: 13px;
  color: var(--grey);
}

.product__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: var(--aqua);
}



.order {
  position: fixed;
  top: 0;
  right: 30px;
  width: 260px;
  padding: 20px 20px 60px 20px;
  background-color: #fff;
  box-shadow: 0 8px 12px rgba(241, 149, 178, 0.3);
  z-index: 999;
}

.order:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 10px;
  background-image:
    linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(-135deg, #fff 50%, transparent 50%);
  background-size: 20px 20px;
  background-position: 0 -10px;
}

.order__title {
  padding-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: var(--aqua);
  border-bottom: 1px solid var(--aqua);
}

.order__content {
  padding-top: 70px;
}

.order__empty {
  margin: 0;
  text-align: center;
  color: var(--grey);
}

.order__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed var(--light);
}

.order__item-name {
  flex: 1;
}




.count-button {
  box-sizing: content-box;
  width: 1em;
  padding: 4px 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1;
  font-weight: 600px;
  text-align: center;
  color: var(--grey);
  border: 1px solid var(--grey);
  background: transparent;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.count-button:hover {
  background-color: var(--pink);
  border-color: var(--pinkdark);
  color: #fff;
}

.count-button--plus {
  border-radius: 4px 0 0 4px;
}

.count-button--minus {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
